use role USERADMIN;

-- Create service users for automated data pipeline tools
create user ingestion_user
    PASSWORD = '####'
    DEFAULT_ROLE = 'JOB_ADS_INGESTION_ROLE'
    DEFAULT_WAREHOUSE = 'COMPUTE_WH'
    DISPLAY_NAME = 'Ingestion Tools'
    COMMENT = 'Jobsearch-HR-Analytics - Ingestion tools';

create user transformation_user
    PASSWORD = '####'
    DEFAULT_ROLE = 'JOB_ADS_TRANSFORMATION_ROLE'
    DEFAULT_WAREHOUSE = 'COMPUTE_WH'
    DISPLAY_NAME = 'Transformation Tools'
    COMMENT = 'Jobsearch-HR-Analytics - Transformation tools';

create user analytics_user
    PASSWORD = '####'
    DEFAULT_ROLE = 'JOB_ADS_ANALYTICS_ROLE'
    DEFAULT_WAREHOUSE = 'COMPUTE_WH'
    DISPLAY_NAME = 'Analytics Tools'
    COMMENT = 'Jobsearch-HR-Analytics - Analytics tools';

show users;
