--
use role useradmin;

--
create user svc_dlt_ingestion
    password = '<PASSWORD_DLT>'
    default_role = 'ingestion_writer'
    default_warehouse = 'compute_wh'
    display_name = 'dlt ingestion services'
    comment = 'jobmarket-hr-analytics - dlt ingestion service';

create user svc_dbt_transform
    password = '<PASSWORD_DBT>'
    default_role = 'transformation_runner'
    default_warehouse = 'compute_wh'
    display_name = 'dbt transformation services'
    comment = 'jobmarket-hr-analytics - dbt transformation service';

create user if not exists svc_streamlit_app
    password = '<PASSWORD_STREAMLIT>'
    default_role = 'analytics_reader'
    default_warehouse = 'compute_wh'
    display_name = 'streamlit analytics service'
    comment = 'jobmarket-hr-analytics - streamlit analytics service';

--
show users;
